#network-errors-container {
  pointer-events: none;
  background-color: #424242;
  height: 100%;
  width: 100%;
}

.border-top-error {
  border-top: 4px #FF3333 solid;
}

.border-top-success {
  border-top: 4px #39c16c solid;
}

.text-error {
  color: #e74c3c;
}

.text-success {
  color: #39c16c;
}

#network-errors-card {
  /*background: rgba(66, 66, 66, 0.85);*/
  border-radius: 0;
  pointer-events: all;
}

#network-errors-card h2 {
  text-align: start;
}

#network-errors-card mat-paginator {
  /*background: rgba(66, 66, 66, 0);*/
}

#network-error-actions {
  margin-right: 10px;
}

