.login-container {
  width: 100%;
  background-color: #303030;
  height: 100%;
}

.login-progress {
  position: absolute;
}

.login-box {
  text-align: center;
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 40px 50px 40px 50px;
  width: 100%;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 350px;
}

.login-box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: -1;
}

.login-box:before {
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  background: rgba(66, 66, 66, .6);
  left: 0;
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  z-index: -1;
}

.login-box mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}

.login-box mat-card-subtitle {
  color: #E91E62;
}

.full-width-input {
  width: 100%;
}

.full-width-button {
  width: 100%;
  padding: 6px;
}
